body
{
    background-color: black;
    color: lightgrey;
    font-size: 28px;
    /* font-family: 'Syne Mono', monospace;
    font-weight: 500; */
    font-family: 'Fragment Mono', monospace;
}
#pojemnik
{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
#plansza
{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
    min-height: 60px;
    text-transform: uppercase;
}
#szubienica
{
    float: left;
    width: 500px;
    text-align: center;
    min-height: 280px;
}
#alfabet
{
    float: left;
    width: 500px;
    text-align: center;
    min-height: 280px;
}
.litera{
    float: left;
    padding: 5px;  
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    border: 3px solid gray;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
}
.litera:hover{
    color: #ffffff;
    border: 3px solid rgb(255, 255, 255);
    background-color: #242424;
}
.npLitera{
    float: left;
    padding: 5px;  
    width: 30px;
    height: 30px;
    margin-top: -8px;
    margin-left: -8px;
    text-align: center;
    color: rgb(210, 25, 25);
    border: 3.5px solid rgb(210, 25, 25);
    border-radius: 15px;
    font-size: 25px;
    cursor: default;
    background-color: #330000;
}
.pLitera{
    float: left;
    padding: 5px;  
    width: 30px;
    height: 30px;
    margin-top: -8px;
    margin-left: -8px;
    text-align: center;
    color: rgb(76, 188, 35);
    border: 3.5px solid rgb(76, 188, 35);
    border-radius: 15px;
    font-size: 25px;
    cursor: default;
    background-color: #003300;
}
.reset{
    padding: 5px;  
    width: 150px;
    height: 50px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border: 3px solid gray;
    border-radius: 15px;
    font-size: 40px;
    cursor: pointer;
}
.reset:hover{
    color: rgb(75, 212, 26);
    border: 3.5px solid rgb(72, 223, 17);
    background-color: #003300;
}